<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

    We are here!


    <div th:if="${session.user == null}" >
        To login click here
         <a href="/login"> Login </a>
    </div>

    <div th:if="${session.user}" >
        <p th:text="'First name: ' + ${session.user.firstName} + ', Last name: ' + ${session.user.lastName} + ', Email: ' + ${session.user.email}"></p>

        To logout click here
        <a href="/logout"> Logout </a>
    </div>



</body>
</html>