<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <title>Search</title>
    <meta charset="utf-8">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap DatePicker</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="home2.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <!--<script type="text/javascript" src="search.js"></script>-->

    <script>
        $(function () {
            $("#exampleFormControlSelect1").change(function () {
                if ($(this).val() === "Other") {
                    $("#requestType").hide();
                    $("#firstDate").hide();
                    $("#secondDate").hide();
                    $("#streetAddress").hide();
                    $("#premisesBaited").hide();
                    $("#zipcode").hide();
                    $("#firstLatitude").hide();
                    $("#firstLongitude").hide();
                    $("#secondLatitude").hide();
                    $("#secondLongitude").hide();
                    $("#garbagePremises").hide();
                    $("#ratPremises").hide();
                } else {
                    if ($(this).val() === "1") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#secondDate").show();
                        $("#requestType").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    }else if ($(this).val() === "2") {
                        $("#showRow").show();
                        $("#requestType").show();
                        $("#firstDate").show();
                        $("#secondDate").show();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "3") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#requestType").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "4") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#secondDate").show();
                        $("#requestType").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "5") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#firstLatitude").show();
                        $("#firstLongitude").show();
                        $("#secondLatitude").show();
                        $("#secondLongitude").show();
                        $("#requestType").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "6") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#secondDate").show();
                        $("#requestType").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "7" || $(this).val() === "8") {
                        $("#showRow").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "9") {
                        $("#showRow").show();
                        $("#premisesBaited").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "10") {
                        $("#showRow").show();
                        $("#garbagePremises").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "11") {
                        $("#showRow").show();
                        $("#ratPremises").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                    } else if ($(this).val() === "12") {
                        $("#showRow").show();
                        $("#firstDate").show();
                        $("#requestType").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "13") {
                        $("#showRow").show();
                        $("#zipcode").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#streetAddress").hide();
                        $("#premisesBaited").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    }else if ($(this).val() === "14") {
                        $("#showRow").show();
                        $("#streetAddress").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#premisesBaited").hide();
                        $("#zipcode").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    } else if ($(this).val() === "15") {
                        $("#showRow").show();
                        $("#streetAddress").show();
                        $("#zipcode").show();
                        $("#requestType").hide();
                        $("#firstDate").hide();
                        $("#secondDate").hide();
                        $("#premisesBaited").hide();
                        $("#firstLatitude").hide();
                        $("#firstLongitude").hide();
                        $("#secondLatitude").hide();
                        $("#secondLongitude").hide();
                        $("#garbagePremises").hide();
                        $("#ratPremises").hide();
                    }
                }
            });
        });

    </script>

    <style>
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9IRHyBQOQ45PGXmwzt0SmtFazSM1OpXpc7A&usqp=CAU');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        /*search box css start here*/
        .search-sec{
            background-color: #222222;
            padding: 2rem;
        }
        .search-slt{
            display: block;
            width: 100%;
            font-size: 15px;
            line-height: 2;
            color: #55595c;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            height: calc(4rem + 2px) !important;
            border-radius:0;

        }
        .btn{
            width: 103%;
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;
            height: calc(4rem + 2px) !important;
            border-radius:0;
        }

        @media (min-width: 992px){
            .search-sec{
                top: -114px;
                background: rgba(26, 70, 104, 0.51)!important;
            }
        }

        @media (max-width: 992px){
            .search-sec{
                background-color: #222!important;
            }
        }

        .container2{
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .container{
            margin: 0;
            position: absolute;
            top: 40%;
            left: 55%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }

        .row1{
            background-color: #222;
            color: 	whitesmoke;
            position: absolute;
            top: 12%;
            left: 12%;
            padding-left: 5%;
            padding-right: 2%;
            margin-right: -50%;
            transform: translate(-50%, -30%);
            font-weight: bolder;
            font-size: large;
            font-family: Verdana, sans-serif;
        }

        .row2{
            color: 	darkgray;
            font-weight: normal;
            font-style: italic;
            font-family: Verdana, sans-serif;
        }

        .row3{
            position: absolute;
            top: 60%;
            left: 50%;
            border: rgba(0,0,0,0.5);
            margin: 5px -50% 5px 5px;
            transform: translate(-50%, -20%);
            padding: 1% 3% 0 3%;

        }
        .table{
            background-color:#3e3e3e;
            color: whitesmoke;
        }

        .row{
            padding-top: 1%;
        }

/*        .showRow{
            display: none;
        }*/

        .thead-dark{
            color: whitesmoke;
            background-color: #222222;
            border: #cccccc;
        }


        /*footer*/

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #222;
            color: darkgray;
            text-align: center;
        }

    </style>


</head>
<body>

<header role="banner" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container2">
        <div class="navbar-header">
            <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-inverse side-collapse in">
            <nav role="navigation" class="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/showInsert">Incident Report</a></li>
                    <li><a href="/search">Search</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section>
    <div class="row1">
        <h1>Search</h1>
        <p class="row2">Welcome to Chicago Incident Report Platform</p>
        <p class="row2">To search for an incident, please login or register</p>
    </div>
</section>

<section class="search-sec">
    <div class="container">
        <form th:action="@{/processSearch}" th:object="${searcher}" method="post">
            <div class="col-lg-12">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1" name="searchType">
                                <option value="Other" selected>Select Search option</option>
                                <option value="1">Requests per type that were created within a specified time range</option>
                                <option value="2">Τotal requests per day for a specific request type and time range</option>
                                <option value="3">Μost common service request per zipcode for a specific date</option>
                                <option value="4">Average completion time per service request for a specific date range</option>
                                <option value="5">Most common service request in a specified bounding box for a specific day</option>
                                <option value="6">Top-5 Special Service Areas (SSA) with regards to total number of requests per day
                                    for a specific date range </option>
                                <option value="7">License plates involved in abandoned vehicle complaints more
                                    than once</option>
                                <option value="8">Second most common color of vehicles involved in abandoned vehicle complaints</option>
                                <option value="9">Rodent baiting requests where the number of premises baited is less than a specified
                                    number</option>
                                <option value="10">Rodent baiting requests where the number of premises with garbage is less than a specified
                                    number</option>
                                <option value="11">Rodent baiting requests where the number of premises with rats is less than a specified
                                    number</option>
                                <option value="12">Police districts that have handled “pot holes” requests with more than one number
                                    of potholes on the same day that they also handled “rodent baiting” requests with more than
                                    one number of premises baited, for a specific day</option>
                                <option value="13">Find Incidents by zip code</option>
                                <option value="14">Find Incidents by street address</option>
                                <option value="15">Find incidents by street address and zip code</option>

                            </select>
                        </div>
                    </div>
                    <div class="row" id="showRow">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input type="date" id="secondDate" name="secondDate" class="form-control search-slt" placeholder="Enter From Date">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input type="date" id="firstDate" name="firstDate" class="form-control search-slt" placeholder="Enter To Date">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input type="text" id="zipcode" name="zipcode" class="form-control search-slt" placeholder="Zip Code">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="streetAddress" type="text" id="streetAddress" name="streetAddress" class="form-control search-slt" placeholder="Street Address">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="premisesBaited" type="text" id="premisesBaited" name="premisesBaited" class="form-control search-slt" placeholder="Number of baited premises">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="ratPremises" type="text" id="ratPremises" name="ratPremises" class="form-control search-slt" placeholder="Number of premises baited with rats">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="garbagePremises" type="text" id="garbagePremises" name="garbagePremises" class="form-control search-slt" placeholder="Number of premises baited with garbage">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="firstLongitude" type="text" id="firstLongitude" name="firstLongitude" class="form-control search-slt" placeholder="firstLongitude">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="secondLongitude" type="text" id="secondLongitude" name="secondLongitude" class="form-control search-slt" placeholder="secondLongitude">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="firstLatitude" type="text" id="firstLatitude" name="firstLatitude" class="form-control search-slt" placeholder="firstLatitude">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 input-field">
                            <input form="secondLatitude" type="text" id="secondLatitude" name="secondLatitude" class="form-control search-slt" placeholder="secondLatitude">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0 controls">
                            <select id="requestType" name="requestType" class="form-control search-slt">
                                <option>Select Incident Type</option>
                                <option>Pothole in Street</option>
                                <option>Tree Debris</option>
                                <option>Tree Trim</option>
                                <option>Graffiti Removal</option>
                                <option>Street Light - 1/Out</option>
                                <option>Street Lights - All/Out</option>
                                <option>Street Light Out</option>
                                <option>Rodent Baiting/Rat Complaint</option>
                                <option>Sanitation Code Violation</option>
                                <option>Garbage Cart Black Maintenance/Replacement</option>
                                <option>Abandoned Vehicle Complaint</option>
                            </select>
                        </div>
                    </div>

                <div class="row col-lg-12 col-md-12 col-sm-12 p-0">
                    <button  type="submit" class="btn btn-success" aria-pressed="true">Search</button>
                </div>
                </div>
            </div>
        </form>
    </div>
</section>
<section>
    <div class="row3">
        <table class="table table-bordered ">
            <thead class="thead-dark">
            <tr>
                <th>Request Type</th>
                <th>Count</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="listObject : ${list}">
                <td><span th:text="${listObject[1]}"> Title </span></td>
                <td><span th:text="${listObject[0]}"> Author </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="footer">
    <p>Project 1 - M149 Database Management Systems - Fall'20</p>
</div>

</body>
</html>
