<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Incident</title>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap DatePicker</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <!--<script th:src="@{/js/updateIncident.js}"></script>-->
    <link th:href="@{/css/updateIncident.css}" rel="stylesheet" type="text/css" media="all">


</head>
<body>

<div th:replace="/fragments/navbar"></div>




<form th:action="@{/processUpdate}" th:object="${updateIncident}" method="post">
    <input type="hidden" th:value="${updateIncident.creationDate}" name="creationDate">
    <input type="hidden" th:value="${updateIncident.completionDate}" name="completionDate">
    <input type="hidden" th:value="${updateIncident.district.zipcode}" name="zipcode">
    <input type="hidden" th:value="${updateIncident.district.policeDistrict}" name="policeDistrict">
    <input type="hidden" th:value="${updateIncident.district.ward}" name="ward">
    <input type="hidden" th:value="${updateIncident.district.communityArea}" name="communityArea">
    <input type="hidden" th:value="${updateIncident.streetAdress}" name="streetAdress">
    <input type="hidden" th:value="${updateIncident.latitude}" name="latitude">
    <input type="hidden" th:value="${updateIncident.longitude}" name="longitude">
    <input type="hidden" th:value="${updateIncident.requestType}" name="requestType">
    <input type="hidden" th:value="${updateIncident.serviceRequestNumber}" name="serviceRequestNumber">
    <input type="hidden" th:value="${updateIncident.statusType}" name="statusType">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.SSA}" name="SSA">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.daysReportedParked}" name="daysReportedParked">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.mostRecentAction}" name="mostRecentAction">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.vehicleColor}" name="vehicleColor">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.vehicleMakeModel}" name="vehicleMakeModel">
    <input type="hidden" th:value="${updateIncident.abandonedVehicle.licensePlate}" name="licensePlate">
    <input type="hidden" th:value="${updateIncident.garbageCarts.SSA}" name="SSA">
    <input type="hidden" th:value="${updateIncident.garbageCarts.currentActivity}" name="currentActivity">
    <input type="hidden" th:value="${updateIncident.garbageCarts.mostRecentAction}" name="mostRecentAction">
    <input type="hidden" th:value="${updateIncident.garbageCarts.deliveredBlackCartsNum}" name="deliveredBlackCartsNum">
    <input type="hidden" th:value="${updateIncident.graffitiRemoval.SSA}" name="SSA">
    <input type="hidden" th:value="${updateIncident.graffitiRemoval.graffitiLocation}" name="graffitiLocation">
    <input type="hidden" th:value="${updateIncident.graffitiRemoval.surfaceType}" name="surfaceType">
    <input type="hidden" th:value="${updateIncident.potHolesReported.SSA}" name="SSA">
    <input type="hidden" th:value="${updateIncident.potHolesReported.currentActivity}" name="currentActivity">
    <input type="hidden" th:value="${updateIncident.potHolesReported.mostRecentAction}" name="mostRecentAction">
    <input type="hidden" th:value="${updateIncident.potHolesReported.filledBlockPotholesNum}" name="filledBlockPotholesNum">
    <input type="hidden" th:value="${updateIncident.rodentBaiting.currentActivity}" name="currentActivity">
    <input type="hidden" th:value="${updateIncident.rodentBaiting.mostRecentAction}" name="mostRecentAction">
    <input type="hidden" th:value="${updateIncident.rodentBaiting.baitedPremisesNum}" name="baitedPremisesNum">
    <input type="hidden" th:value="${updateIncident.rodentBaiting.premisesWithGarbageNum}" name="premisesWithGarbageNum">
    <input type="hidden" th:value="${updateIncident.rodentBaiting.premisesWithRatsNum}" name="premisesWithRatsNum">
    <input type="hidden" th:value="${updateIncident.sanitationCodeComplaints.violationNature}" name="violationNature">
    <input type="hidden" th:value="${updateIncident.treeDebris.debrisLocation}" name="debrisLocation">
    <input type="hidden" th:value="${updateIncident.treeDebris.currentActivity}" name="currentActivity">
    <input type="hidden" th:value="${updateIncident.treeDebris.mostRecentAction}" name="mostRecentAction">
    <input type="hidden" th:value="${updateIncident.treeTrims.treeLocation}" name="treeLocation">
</form>


<div class="row3">
    <form th:action="@{/update/processUpdate}"
          th:object="${updateIncident}" method="POST" class="form-horizontal">

        <fieldset>
            <div class="control-group" id="serviceRequestNumber">
                <!-- Service Request Number-->
                <label class="control-label" for="serviceRequestNumber">Service Request Number</label>
                <div class="controls">
                    <input th:value="${updateIncident.serviceRequestNumber}" type=""  name="serviceRequestNumber" placeholder="Service Request Number" class="input-xlarge" readonly>
                    <p class="help-block">Enter the Service Number of the request</p>
                </div>
            </div>

            <div class="control-group" id="requestType">
                <!-- Street Address-->
                <label class="control-label" for="requestType">Request Type</label>
                <div class="controls">
                    <input th:value="${updateIncident.requestType}" type="text" name="requestType" placeholder="Request Type" class="input-xlarge" readonly>
                    <p class="help-block">Enter the street address the incident took place</p>
                </div>
            </div>
            <div class="control-group" id="creationDate">
                <!-- creationDate-->
                <label class="control-label" for="serviceRequestNumber">Creation Date</label>
                <div class="controls">
                    <input th:value="${updateIncident.creationDate}" type="text"  name="creationDate" placeholder="Creation Date" class="input-xlarge" readonly>
                    <p class="help-block">Enter the Service Number of the request</p>
                </div>
            </div>
          <div class="control-group" id="completionDate">
                <label class="control-label" for="completionDate">Completion Date</label>
                <div th:if="${updateIncident.completionDate} eq null" class="controls">
                    <input  th:value="${updateIncident.completionDate}"  placeholder="Completion Date is empty but cannot be filled by simple user" class="input-xlarge" readonly>
                    <p class="help-block">Enter the Service Number of the request</p>
                </div>
                <div th:unless="${updateIncident.completionDate} eq null" class="controls">
                    <input th:value="${updateIncident.completionDate}" type="text"   placeholder="Completion Date" class="input-xlarge" readonly>
                    <p class="help-block">Enter the Service Number of the request</p>
                </div>
            </div>
            <div class="control-group" id="streetAdress">
                <!-- Street Address-->
                <label class="control-label" for="streetAdress">Street Address</label>
                <div class="controls">
                    <input th:value="${updateIncident.streetAdress}" type="text"  name="streetAdress" placeholder="Street Address" class="input-xlarge">
                    <p class="help-block">Enter the street address the incident took place</p>
                </div>
            </div>
            <div class="control-group" id="communityArea" >
                <!-- Password -->
                <label class="control-label"  for="communityArea">Community Area</label>
                <div class="controls">
                    <input th:value="${updateIncident.district.communityArea}" type="number" name="communityArea" placeholder="Community Area" class="input-xlarge">
                    <p class="help-block">Please enter the community area</p>
                </div>
            </div>
            <div class="control-group" id="policeDistrict">
                <!-- E-mail -->
                <label class="control-label" for="policeDistrict">Police District</label>
                <div class="controls">
                    <input th:value="${updateIncident.district.policeDistrict}" type="number"  name="policeDistrict" placeholder="Police District" class="input-xlarge">
                    <p class="help-block">Please provide with the police district</p>
                </div>
            </div>
            <div class="control-group" id="zipcode">
                <!-- E-mail -->
                <label class="control-label" for="zipcode">Zip code</label>
                <div class="controls">
                    <input th:value="${updateIncident.district.zipcode}" type="number" name="zipcode" placeholder="Zip Code" class="input-xlarge">
                    <p class="help-block">Please enter the zip code</p>
                </div>
            </div>
            <div class="control-group"  id="latitude">
                <!-- latitude -->
                <label class="control-label" for="latitude">Latitude</label>
                <div class="controls">
                    <input th:value="${updateIncident.latitude}" type="text" name="latitude" placeholder="latitude" class="input-xlarge">
                    <p class="help-block">Please provide the date the incident took place</p>
                </div>
            </div>
            <div class="control-group" id="longitude">
                <!-- longitude -->
                <label class="control-label" for="longitude">Longitude</label>
                <div class="controls">
                    <input th:value="${updateIncident.longitude}" type="text"  name="longitude" placeholder="longitude" class="input-xlarge">
                    <p class="help-block">Please provide the date the incident took place</p>
                </div>
            </div>
            <div class="control-group" id="ward" >
                <!-- ward -->
                <label class="control-label" for="ward">Ward</label>
                <div class="controls">
                    <input th:value="${updateIncident.district.ward}" type="number" name="ward" placeholder="ward" class="input-xlarge">
                    <p class="help-block">Please provide the ward</p>
                </div>
            </div>
            <div class="control-group" id="cencusTracts">
                <!-- cencusTracts -->
                <label class="control-label" for="cencusTracts">Census Tracts</label>
                <div class="controls">
                    <input th:value="${updateIncident.extraIncidentInfo.cencusTracts}" type="number"  name="cencusTracts" placeholder="censusTracts" class="input-xlarge">
                    <p class="help-block">Please provide the census tracts</p>
                </div>
            </div>
            <div class="control-group"  id="communityAreas">
                <!-- communityAreas -->
                <label class="control-label" for="communityAreas">Community Areas</label>
                <div class="controls">
                    <input th:value="${updateIncident.extraIncidentInfo.communityAreas}" type="number" name="communityAreas" placeholder="communityAreas" class="input-xlarge">
                    <p class="help-block">Please provide the community areas</p>
                </div>
            </div>
            <div class="control-group"  id="historical_wards_2003_2015">
                <!-- historical wards 2003-2015 -->
                <label class="control-label" for="historical_wards_2003_2015">Historical wards 2003-2015</label>
                <div class="controls">
                    <input th:value="${updateIncident.extraIncidentInfo.historical_wards_2003_2015}" type="number" name="historical_wards_2003_2015" placeholder="historical wards 2003-2015" class="input-xlarge">
                    <p class="help-block">Please provide the historical wards 2003-2015</p>
                </div>
            </div>
            <div class="control-group"  id="wards">
                <!-- wards -->
                <label class="control-label" for="wards">Wards</label>
                <div class="controls">
                    <input th:value="${updateIncident.extraIncidentInfo.wards}" type="number" name="wards" placeholder="wards" class="input-xlarge">
                    <p class="help-block">Please provide the wards</p>
                </div>
            </div>
            <div class="control-group"  id="zipcodes">
                <!-- zip_codes -->
                <label class="control-label" for="zipcodes">Zip codes</label>
                <div class="controls">
                    <input th:value="${updateIncident.extraIncidentInfo.zipcodes}" type="number" name="zipcodes" placeholder="Zip codes" class="input-xlarge">
                    <p class="help-block">Please provide the zip codes</p>
                </div>
            </div>
            <hr>

            <!--Abandoned vehicle-->
            <div id="subIncidentFields">

                <div class="control-group" id="SSA">
                    <!-- SSA -->
                    <label class="control-label" for="SSA">SSA</label>
                    <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'" class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.SSA}" type="number" name="SSA" placeholder="ssa" class="input-xlarge">
                        <p class="help-block">Please provide the SSA</p>
                    </div>
                    <div th:if="${updateIncident.getRequestType()} eq 'Garbage Cart Black Maintenance/Replacement'" class="controls">
                        <input th:value="${updateIncident.garbageCarts.SSA}" type="number" name="SSA" placeholder="ssa" class="input-xlarge">
                        <p class="help-block">Please provide the SSA</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Graffiti Removal'" class="controls">
                        <input th:value="${updateIncident.graffitiRemoval.SSA}" type="number" name="SSA" placeholder="ssa" class="input-xlarge">
                        <p class="help-block">Please provide the SSA</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Pothole in Street'" class="controls">
                        <input th:value="${updateIncident.potHolesReported.SSA}" type="number" name="SSA" placeholder="ssa" class="input-xlarge">
                        <p class="help-block">Please provide the SSA</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Pothole in Street' or ${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'
                    or ${updateIncident.requestType} eq 'Garbage Cart Black Maintenance/Replacement'
                    or ${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"
                     class="control-group" id="currentActivity" >
                    <!-- currentActivity -->
                    <label class="control-label" for="currentActivity">Current Activity</label>
                    <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'" class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.currentActivity}" type="text" name="currentActivity" placeholder="currentActivity" class="input-xlarge">
                        <p class="help-block">Please provide the current activity for the incident</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Garbage Cart Black Maintenance/Replacement'" class="controls">
                        <input th:value="${updateIncident.garbageCarts.currentActivity}" type="text" name="currentActivity" placeholder="currentActivity" class="input-xlarge">
                        <p class="help-block">Please provide the current activity for the incident</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Pothole in Street'" class="controls">
                        <input th:value="${updateIncident.potHolesReported.currentActivity}" type="text" name="currentActivity" placeholder="currentActivity" class="input-xlarge">
                        <p class="help-block">Please provide the current activity for the incident</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'" class="controls">
                        <input th:value="${updateIncident.rodentBaiting.currentActivity}" type="text" name="currentActivity" placeholder="currentActivity" class="input-xlarge">
                        <p class="help-block">Please provide the current activity for the incident</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Tree Debris'" class="controls">
                        <input th:value="${updateIncident.treeDebris.currentActivity}" type="text" name="currentActivity" placeholder="currentActivity" class="input-xlarge">
                        <p class="help-block">Please provide the current activity for the incident</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"  class="control-group" id="daysReportedParked" >
                    <!-- daysReportedParked -->
                    <label class="control-label" for="daysReportedParked">Days Reported Parked</label>
                    <div class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.daysReportedParked}" type="number" name="daysReportedParked" placeholder="daysReportedParked" class="input-xlarge">
                        <p class="help-block">Please provide the days the vehicle is parked</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"  class="control-group" id="licensePlate">
                    <!-- licensePlate -->
                    <label class="control-label" for="licensePlate">License Plate</label>
                    <div class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.licensePlate}" type="text" name="licensePlate" placeholder="e.g. IL23451" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's license plate</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Pothole in Street' or ${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'
                    or ${updateIncident.requestType} eq 'Garbage Cart Black Maintenance/Replacement'
                    or ${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"
                    class="control-group" id="mostRecentAction">
                    <!-- mostRecentAction -->
                    <label class="control-label" for="mostRecentAction">Most recent action</label>
                    <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"  class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.mostRecentAction}" type="text"x name="mostRecentAction" placeholder="Most recent action" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's most recent action</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Garbage Cart Black Maintenance/Replacement'"  class="controls">
                        <input th:value="${updateIncident.garbageCarts.mostRecentAction}" type="text"x name="mostRecentAction" placeholder="Most recent action" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's most recent action</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Pothole in Street'"  class="controls">
                        <input th:value="${updateIncident.potHolesReported.mostRecentAction}" type="text"x name="mostRecentAction" placeholder="Most recent action" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's most recent action</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'"  class="controls">
                        <input th:value="${updateIncident.rodentBaiting.mostRecentAction}" type="text"x name="mostRecentAction" placeholder="Most recent action" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's most recent action</p>
                    </div>
                    <div th:if="${updateIncident.requestType} eq 'Tree Debris'"  class="controls">
                        <input th:value="${updateIncident.treeDebris.mostRecentAction}" type="text"x name="mostRecentAction" placeholder="Most recent action" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's most recent action</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'"  class="control-group" id="vehicleColor" >
                    <!-- vehicle color -->
                    <label class="control-label" for="vehicleColor">Vehicle color</label>
                    <div class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.vehicleColor}" type="text" name="vehicleColor" placeholder="e.g. silver" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's color</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Abandoned Vehicle Complaint'" class="control-group"  id="vehicleMakeModel">
                    <!-- vehicle color -->
                    <label class="control-label" for="vehicleMakeModel">Vehicle make model</label>
                    <div class="controls">
                        <input th:value="${updateIncident.abandonedVehicle.vehicleMakeModel}" type="text" name="vehicleMakeModel" placeholder="e.g. BMW" class="input-xlarge">
                        <p class="help-block">Please provide the vehicle's make model</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Garbage Cart Black Maintenance/Replacement'" class="control-group"  id="deliveredBlackCartsNum">
                    <!-- deliveredBlackCartsNum -->
                    <label class="control-label" for="deliveredBlackCartsNum">Number of black carts delivered</label>
                    <div class="controls">
                        <input th:value="${updateIncident.garbageCarts.deliveredBlackCartsNum}" type="number" name="deliveredBlackCartsNum" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the number of black carts delivered</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Graffiti Removal'" class="control-group"  id="graffitiLocation">
                    <!-- graffitiLocation -->
                    <label class="control-label" for="graffitiLocation">Graffiti location</label>
                    <div class="controls">
                        <input th:value="${updateIncident.graffitiRemoval.graffitiLocation}" type="text" name="graffitiLocation" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the location of the graffiti</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Graffiti Removal'" class="control-group"  id="surfaceType">
                    <!-- surfaceΤype -->
                    <label class="control-label" for="surfaceType">Surface type</label>
                    <div class="controls">
                        <input th:value="${updateIncident.graffitiRemoval.surfaceType}" type="text" name="surfaceType" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the graffiti's surface type</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Pothole in Street'" class="control-group"  id="filledBlockPotholesNum">
                    <!-- filledBlockPotholesNum -->
                    <label class="control-label" for="filledBlockPotholesNum">Filled block pot holes</label>
                    <div class="controls">
                        <input th:value="${updateIncident.potHolesReported.filledBlockPotholesNum}" type="number" name="filledBlockPotholesNum" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the number of filled block pot holes</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'" class="control-group"  id="baitedPremisesNum">
                    <!-- baited premises -->
                    <label class="control-label" for="baitedPremisesNum">Number of baited premises</label>
                    <div class="controls">
                        <input th:value="${updateIncident.rodentBaiting.baitedPremisesNum}" type="text" name="baitedPremisesNum" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the number of baited premises</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'" class="control-group"  id="premisesWithGarbageNum">
                    <!-- premisesWithGarbageNum -->
                    <label class="control-label" for="premisesWithGarbageNum">Number of garbage premises</label>
                    <div class="controls">
                        <input th:value="${updateIncident.rodentBaiting.premisesWithGarbageNum}" type="number" name="premisesWithGarbageNum" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the number of garbage premises</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Rodent Baiting/Rat Complaint'" class="control-group"  id="premisesWithRatsNum">
                    <!-- premisesWithRatsNum -->
                    <label class="control-label" for="premisesWithRatsNum">Number of rat premises</label>
                    <div class="controls">
                        <input th:value="${updateIncident.rodentBaiting.premisesWithRatsNum}" type="number" name="premisesWithRatsNum" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the number of rat premises</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Sanitation Code Violation'" class="control-group"  id="violationNature">
                    <!-- violationNature -->
                    <label class="control-label" for="violationNature">Violation nature</label>
                    <div class="controls">
                        <input th:value="${updateIncident.sanitationCodeComplaints.violationNature}" type="text" name="violationNature" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the nature of the violation</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Tree Debris'" class="control-group" id="debrisLocation" >
                    <!-- debrisLocation -->
                    <label class="control-label" for="violationNature">Debris location</label>
                    <div class="controls">
                        <input th:value="${updateIncident.treeDebris.debrisLocation}" type="text" name="debrisLocation" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the debris location</p>
                    </div>
                </div>
                <div th:if="${updateIncident.requestType} eq 'Tree Trim'" class="control-group"  id="treeLocation">
                    <!-- treeLocation -->
                    <label class="control-label" for="violationNature">Tree location</label>
                    <div class="controls">
                        <input th:value="${updateIncident.treeTrims.treeLocation}" type="text" name="treeLocation" placeholder="" class="input-xlarge">
                        <p class="help-block">Please provide the tree location</p>
                    </div>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-success">Update</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="footer">
    <p>Project 1 - M149 Database Management Systems - Fall'20</p>
</div>
</body>
</html>